:root {
  --dark-accent-color: rgb(255, 255, 255, 0.12);
  --dark-background-color: #1f1f1f;
  --dark-divider-color: var(--dark-accent-color);
  --dark-highlight-color: rgb(26, 115, 232, 0.26);
  /* These colors are copied from codemirror to maintain consistency. */
  --light-theme-line-number-color: #999999;
  --dark-theme-line-number-color: #d0d0d0;
  --light-theme-text-color: #000000;
  --dark-theme-text-color: #f8f8f2;
  /*
   * editor styles are mostly copied from codemirror so that the text area
   * maintains the same look.
   */
  --editor-line-height: 1.2em;
  --editor-padding: 4px;
  --header-height: 48px;
  --light-accent-color: rgb(0, 0, 0, 0.04);
  --light-background-color: white;
  --light-divider-color: var(--light-accent-color);
  --light-highlight-color: rgb(26, 115, 232, 0.18);
  --mdc-theme-secondary: rgb(27, 114, 232);
  --settings-input-width: 55px;
  --tab-height: 36px;
}

* {
  -webkit-transition: background-color 200ms;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 13px;
  overflow: hidden;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}

#window-container {
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
}

#sidebar {
  background-color: var(--dark-background-color);
  border-right: 2px solid var(--light-divider-color);
  color: #EBEBEB;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: width 0.2s ease-in-out, background-color 0.2s;
  width: 0;
}

#sidebar-resizer {
  cursor: e-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  z-index: 2;
}

#sidebar h1 {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: normal;
  height: var(--header-height);
  justify-content: center;
  margin: 0;
  padding: 0 20px;
  -webkit-user-select: none;
}

#sidebar h2 {
  font: 500 13px "Roboto", sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

#sidebar hr {
  background-color: var(--dark-divider-color);
  border: none;
  height: 2px;
  margin: 0;
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
}

#sidebar h2,
#sidebar li,
#sidebar .mdc-form-field {
  align-items: center;
  display: flex;
  min-height: var(--tab-height);
  margin: 4px 8px;
  padding: 0 16px;
  -webkit-user-select: none;
  white-space: nowrap;
}

#sidebar li,
#sidebar .mdc-form-field {
  border-radius: 100px;
  cursor: pointer;
}

#sidebar li:hover,
#sidebar .mdc-form-field:hover,
#tabs-list li.active:hover {
  background-color: var(--dark-highlight-color);
  color: #fff;
}

#sidebar input {
  background-color: var(--dark-accent-color);
}

#sidebar .group {
  margin: 24px 0;
}

#sidebar ::-webkit-scrollbar {
  width: 0;
}

#sidebar ::-webkit-scrollbar-track {
  background-color: transparent;
}

#sidebar ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #888;
}

#file-menu {
  margin: 24px 0;
}

#tabs-list-container, #settings-container {
  flex-grow: 1;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

#tabs-list {
  margin: 24px 0 24px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

#tabs-list li {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#tabs-list li.active {
  background-color: var(--dark-accent-color);
}

#tabs-list li .filename {
  display: inline;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs-list li.unsaved .filename:after {
  content: " *";
}

#tabs-list li .close {
  display: none;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  min-width: var(--tab-height);
  padding: 0;
  width: var(--tab-height);
}

#tabs-list li:hover {
  padding-right: 0;
}

#tabs-list li:hover .close {
  display: flex;
}

#file-tabs-menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.open-settings #file-tabs-menu {
  display: none;
}

#settings-menu {
  display: none;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.open-settings #settings-menu {
  display: flex;
  flex-direction: column;
  left: 0;
}

#settings-list {
  width: 100%;
}

#settings-list li,
#settings-list .mdc-form-field {
  background-color: inherit;
  -webkit-box-flex: 1.0;
  -webkit-box-orient: horizontal;
  -webkit-box-align: end;
  display: -webkit-flex;
  padding-right: 0;
  word-break: break-all;
  word-wrap: break-word;
}

.mdc-form-field {
  color: inherit;
  display: flex;
  font: inherit;
}

.mdc-radio {
  margin-left: auto;
  margin-right: auto;
}

.mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle  {
  border-color: white;
  opacity: 0.3;
}

#settings-list label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0;
  max-width: calc(100% - var(--settings-input-width));
  overflow: hidden;
  padding: 4px 0;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
}

.settings-switch-ul {
  margin: 10px 0;
}

#settings-list input[type="text"] {
  -webkit-app-region: no-drag;
  border: 0px;
  border-radius: 100px;
  font-size: 14px;
  height: var(--tab-height);
  padding: 0;
  text-align: center;
  -webkit-user-select: auto;
  width: var(--settings-input-width);
}

#settings-list li:hover input[type="text"] {
  background-color: inherit;
}

#settings-list input[type="text"]:focus {
  background-color: var(--dark-highlight-color);
  outline: none;
}

.mdc-switch {
  margin-left: auto;
  margin-right: auto;
}

.mdc-switch.mdc-switch--checked .mdc-switch__track {
  opacity: 0.26;
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
  border-color: rgb(185, 185, 185);
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
  background-color: white;
  border-color: white;
  opacity: 0.3;
}

#main-container {
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

header {
  align-items: center;
  -webkit-app-region: drag;
  background-color: var(--light-background-color);
  border-bottom: 2px solid var(--light-divider-color);
  display: flex;
  height: var(--header-height);
  padding-left: 10px;
  position: relative;
  -webkit-user-select: none;
}

.mdc-icon-button {
  -webkit-app-region: no-drag;
}

header .mdc-icon-button {
  opacity: 0.54;
  -webkit-transition: opacity 200ms;
}

header .mdc-icon-button:focus, header .mdc-icon-button:active {
  opacity: 0.87;
}

#sidebar .mdc-icon-button {
  color: #FFF;
  opacity: .7;
}

#sidebar .mdc-icon-button:focus, #sidebar .mdc-icon-button:active {
  opacity: 1;
}

#sidebar .mdc-icon-button::before, #sidebar .mdc-icon-button::after {
  z-index: -1;
}

#toggle-sidebar {
  margin: 0 5px;
}

.search-container {
  -webkit-app-region: no-drag;
  display: flex;
  border: 1px solid rgb(232, 234, 237);
  border-radius: 100px;
  background: white;
  height: 30px;
  line-height: 30px;
}

.search-container.disabled {
  opacity: 0.38;
}

#search-input-container {
  display: flex;
  width: 208px;
}

#search-input {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  font-size: 14px;
  padding-left: 16px;
  -webkit-user-select: auto;
  width: 150px;
}

#search-counting {
  color: #ccc;
  display: none;
  min-width: 70px;
  margin: 0 4px 0 -16px;
  text-align: right;
}

#search-counting.nomatches {
  color: #B00;
}

header.search-active #search-counting {
  display: block;
}

.search-navigation-button {
  border: 0;
  height: inherit;
  overflow: hidden;
  padding: 0;
  transition: width 200ms ease-in-out;
  width: 0;
}

header.search-active .search-navigation-button {
  border-left: 1px solid #DDD;
  width: 30px;
}

#title-filename {
  color: #777;
  display: flex;
  flex: 1;
  font-size: 15px;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 200ms ease-in-out;
  white-space: nowrap;
}

#title-filename.unsaved:after {
  content: " *";
}

#window-minimize {
  /* Move the 'remove' icon down so it looks like a minimize icon */
  padding-top: 18px;
}

header.hide-controls #window-minimize {
  visibility: hidden;
}

header.hide-controls #window-maximize {
  visibility: hidden;
}

header.hide-controls #window-close {
  visibility: hidden;
}

#editor {
  -webkit-box-flex: 1.0;
  position: relative;
}

/* These are the styles for the screenreader mode editor */
#editor-textarea {
  background: var(--light-background-color);
  color: var(--light-theme-text-color);
  width: calc(100% - 2*var(--editor-padding));
  height: calc(100vh - var(--header-height) - 2*var(--editor-padding));
  resize: none;
  padding: var(--editor-padding);
  font-family: monospace;
  line-height: var(--editor-line-height);
  outline: none;
  border: none;
}
.dark-theme #editor-textarea {
  background: var(--dark-background-color);
  color: var(--dark-theme-text-color);
}
#editor-textarea:focus {
  outline: none;
  border: none;
}
input[type=text][disabled] {
  opacity: .38;
}
/* Markup below overrides default search input box styling. */
input[type=search] {
  -webkit-appearance:none;
}

input[type=search]:focus {
  border: 1px solid #15C;
  outline: none;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.mdc-icon-button::before {
  -webkit-transition: opacity 200ms;
}

/* Dialog */
#dialog-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

#dialog-container.open {
  display: -webkit-box;
}

.dialog-window {
  background-color: var(--light-background-color);
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: rgba(0,0,0,0.13) 0px 4px 30px;
  max-width: 50%;
  opacity: 1.0;
  padding: 24px;
}

.dialog-text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog-buttons {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  display: -webkit-box;
  margin-top: 20px;
}

.dialog-button {
  background-color: inherit;
  border: 1px solid rgba(0,0,0,0.16);
  border-radius: 3px;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  color: #333;
  display: -webkit-box;
  height: 30px;
  margin: 0 5px;
  opacity: 0.8;
  padding: 0 14px;
}

.dialog-button:hover {
  border: 1px solid rgba(0,0,0,0.32);
  color: #000;
}

#editor .CodeMirror {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.CodeMirror-gutters {
  background-color: var(--light-background-color);
}

.CodeMirror-lines {
  line-height: var(--editor-line-height);
}

header.search-active ~ #editor div.CodeMirror .cm-matchhighlight {
  background-color: rgba(253, 207, 76, .5);
}
