/* Based on CodeMirror dark theme */
/* Based on Sublime Text's dark theme */

.cm-s-dark span.cm-comment {color: #75715e;}
.cm-s-dark span.cm-atom {color: #ae81ff;}
.cm-s-dark span.cm-number {color: #ae81ff;}

.cm-s-dark span.cm-property, .cm-s-dark span.cm-attribute {color: #a6e22e;}
.cm-s-dark span.cm-keyword {color: #f92672;}
.cm-s-dark span.cm-string {color: #e6db74;}

.cm-s-dark span.cm-variable {color: #a6e22e;}
.cm-s-dark span.cm-variable-2 {color: #9effff;}
.cm-s-dark span.cm-def {color: #fd971f;}
.cm-s-dark span.cm-error {background: #f92672; color: #f8f8f0 !important;}
.cm-s-dark span.cm-bracket {color: #f8f8f2;}
.cm-s-dark span.cm-tag {color: #f92672;}
.cm-s-dark span.cm-link {color: #ae81ff;}
