body[theme="default"] header {
  background-color: #F5F5F5;
}

body[theme="default"] #sidebar {
  background-color: #333;
  -webkit-box-shadow: inset -10px 0 7px -4px rgba(0,0,0,0.5);
}

body[theme="default"] #settings-menu {
  background-color: #333;
}

body[theme="default"] #sidebar li:hover {
  background-color: #3A3A3A;
  border-left: 10px solid #868686;
  -webkit-box-shadow: inset -10px 0 7px -4px rgba(0,0,0,0.5);
  color: #FFF;
  padding-left: 10px;
}

body[theme="default"] #settings-list input[type="text"] {
  color: #EBEBEB;
}

body[theme="default"] #settings-list select {
  color: #EBEBEB;
}

body[theme="default"] #settings-list select option {
  background-color: #333;
}


.ace-text-default.hide-line-numbers .ace_gutter {
  display: none;
}

.ace-text-default .ace_gutter {
  background-color: #F0F0F0;
  color: #999;
}

.ace-text-default .ace_print_margin {
  width: 1px;
  background: #CCC;
}

.ace-text-default .ace_gutter-cell {
  padding: 0 5px 0 0;
  text-align: right;
}

.ace-text-default .ace_gutter_active_line {
  background-color: #E0E0E0;
}

.ace-text-default .ace_cursor {
  border-left: 2px solid black;
}

.ace-text-default .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid black;
}

.ace-text-default .ace_marker-layer .ace_selection {
  background: #B5D5FF;
}

.ace-text-default .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.07);
}

.ace-text-default .ace_marker-layer .ace_selected_word {
  border: 1px solid #BDD5FC;
}

.ace-text-default .ace_invisible {
  color: #BFBFBF;
}

.ace-text-default .ace_keyword {
  color: #AF956F;
}

.ace-text-default .ace_meta {
  color: #AF956F;
}

.ace-text-default .ace_keyword.ace_operator {
  color: #484848;
}

.ace-text-default .ace_constant.ace_language {
  color: #39946A;
}

.ace-text-default .ace_constant.ace_numeric {
  color: #46A609;
}

.ace-text-default .ace_invalid {
  background-color: #FF002A;
}

.ace-text-default .ace_fold {
  background-color: #AF956F;
  border-color: #000000;
}

.ace-text-default .ace_support.ace_function {
  color: #C52727;
}

.ace-text-default .ace_storage {
  color: #C52727;
}

.ace-text-default .ace_string {
  color: #5D90CD;
}

.ace-text-default .ace_comment {
  color: #888;
}

.ace-text-default .ace_entity.ace_other.ace_attribute-name {
  color: #606060;
}

.ace-text-default .ace_markup.ace_underline {
  text-decoration:underline;
}


div.CodeMirror span.CodeMirror-matchingbracket {
  color: inherit !important;
  border-bottom: 1px solid black;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: inherit !important;
}
