body[theme="dark"] header,
body[theme="dark"] .search-container {
  background-color: var(--dark-background-color);
}

body[theme="dark"] header {
  border-bottom: 2px solid var(--dark-divider-color);
}

body[theme="dark"] .search-container {
  border-color: var(--dark-divider-color);
}

body[theme="dark"] #search-input,
body[theme="dark"] .icon,
body[theme="dark"] .mdc-icon-button {
  color: #EBEBEB;
}

body[theme="dark"] #search-counting.nomatches {
  color: #B00;
}

body[theme="dark"] #sidebar {
  border-right-color: var(--dark-divider-color);
}

body[theme="dark"] #settings-list input[type="text"] {
  color: #EBEBEB;
}

body[theme="dark"] #title-filename {
  color: #bdc1c6;
}

/* Based on CodeMirror dark theme */
/* Based on Sublime Text's dark theme */

.cm-s-dark.CodeMirror {
  background: var(--dark-background-color);
  color: #f8f8f2;
}

.cm-s-dark .CodeMirror-gutters {
  background: var(--dark-background-color);
  border-right: 0px;
}

.cm-s-dark div.CodeMirror-selected {background: #49483E !important;}
.cm-s-dark .CodeMirror-linenumber {color: #bdc1c6;}
.cm-s-dark .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}

.cm-s-dark span.cm-comment {color: #75715e;}
.cm-s-dark span.cm-atom {color: #ae81ff;}
.cm-s-dark span.cm-number {color: #ae81ff;}

.cm-s-dark span.cm-property, .cm-s-dark span.cm-attribute {color: #a6e22e;}
.cm-s-dark span.cm-keyword {color: #f92672;}
.cm-s-dark span.cm-string {color: #e6db74;}

.cm-s-dark span.cm-variable {color: #a6e22e;}
.cm-s-dark span.cm-variable-2 {color: #9effff;}
.cm-s-dark span.cm-def {color: #fd971f;}
.cm-s-dark span.cm-error {background: #f92672; color: #f8f8f0 !important;}
.cm-s-dark span.cm-bracket {color: #f8f8f2;}
.cm-s-dark span.cm-tag {color: #f92672;}
.cm-s-dark span.cm-link {color: #ae81ff;}

.cm-s-dark .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

body[theme="dark"] div.CodeMirror span.CodeMirror-matchingbracket {
  color: inherit !important;
  border-bottom: 1px solid #f8f8f2;
}

body[theme="dark"] div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: inherit !important;
}

body[theme="dark"] header.search-active .search-navigation-button {
  border-color: var(--dark-divider-color);
}

body[theme="dark"] .mdc-icon-button::before,
body[theme="dark"] .mdc-icon-button::after {
  background-color: var(--light-background-color);
}
