body[theme="light"] header {
  background-color: #F5F5F5;
}

body[theme="light"] #sidebar {
  background-color: #F5F5F5;
  color: #000;
}

body[theme="light"] #settings-menu {
  background-color: #F5F5F5;
  color: #000;
}

body[theme="light"] #sidebar li:hover {
  background-color: #E5E5E5;
  color: #000;
}

body[theme="default"] #settings-list input[type="text"] {
  color: #000;
}

body[theme="default"] #settings-list select {
  color: #000;
}



.ace-text-light.hide-line-numbers .ace_gutter {
  display: none;
}

.ace-text-light .ace_gutter {
  background-color: #F0F0F0;
  color: #999;
}

.ace-text-light .ace_print_margin {
  width: 1px;
  background: #CCC;
}

.ace-text-light .ace_gutter-cell {
  padding: 0;
  text-align: center;
}

.ace-text-light .ace_gutter_active_line {
  background-color: #E0E0E0;
}

.ace-text-light .ace_cursor {
  border-left: 2px solid black;
}

.ace-text-light .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid black;
}

.ace-text-light .ace_marker-layer .ace_selection {
  background: #B5D5FF;
}

.ace-text-light .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.07);
}

.ace-text-light .ace_marker-layer .ace_selected_word {
  border: 1px solid #BDD5FC;
}

.ace-text-light .ace_invisible {
  color: #BFBFBF;
}

.ace-text-light .ace_keyword {
  color: #AF956F;
}

.ace-text-light .ace_meta {
  color: #AF956F;
}

.ace-text-light .ace_keyword.ace_operator {
  color: #484848;
}

.ace-text-light .ace_constant.ace_language {
  color: #39946A;
}

.ace-text-light .ace_constant.ace_numeric {
  color: #46A609;
}

.ace-text-light .ace_invalid {
  background-color: #FF002A;
}

.ace-text-light .ace_fold {
  background-color: #AF956F;
  border-color: #000000;
}

.ace-text-light .ace_support.ace_function {
  color: #C52727;
}

.ace-text-light .ace_storage {
  color: #C52727;
}

.ace-text-light .ace_string {
  color: #5D90CD;
}

.ace-text-light .ace_comment {
  color: #888;
}

.ace-text-light .ace_entity.ace_other.ace_attribute-name {
  color: #606060;
}

.ace-text-light .ace_markup.ace_underline {
  text-decoration:underline;
}
