body[theme="light"] header {
  background-color: #F5F5F5;
}

body[theme="light"] #sidebar {
  background-color: #F5F5F5;
  color: #000;
}

body[theme="light"] #settings-menu {
  background-color: #F5F5F5;
  color: #000;
}

body[theme="light"] #sidebar li:hover {
  background-color: #E5E5E5;
  color: #000;
  -webkit-box-shadow: inset -10px 0 7px -4px rgba(0,0,0,0.5);
  border-left: 10px solid #C9C9C9;
  padding-left: 10px;
}

body[theme="light"] #settings-list input[type="text"] {
  background-color: #ddd;
}

body[theme="light"] #settings-list input[type="text"]:focus {
  border: 1px solid #242424;
  outline: none;
}

body[theme="light"] #settings-list input[type="checkbox"] {
  background-color: #ddd;
}

body[theme="light"] #settings-list select {
  background: url('../images/menu.svg')no-repeat 75px center #ddd;
  background-size: 18px 18px;
  background-position-x: 70px;
  -webkit-appearance: none;
}

body[theme="light"] #settings-list select:focus {
  border: 1px solid #242424;
  outline: none;
}

body[theme="light"] #settings-list select option {
  background: #ddd;
}

body[theme="light"] #settings-list input[type="checkbox"]:checked::after {
  content: url('../images/check_no_box.png');
}

body[theme="light"] #tabs-list li.active {
  border-left: 10px solid #9B9B9B !important;
}

.ace-text-light.hide-line-numbers .ace_gutter {
  display: none;
}

.ace-text-light .ace_gutter {
  background-color: #F0F0F0;
  color: #999;
}

.ace-text-light .ace_print_margin {
  width: 1px;
  background: #CCC;
}

.ace-text-light .ace_gutter-cell {
  padding: 0 5px 0 0;
  text-align: right;
}

.ace-text-light .ace_gutter_active_line {
  background-color: #E0E0E0;
}

.ace-text-light .ace_cursor {
  border-left: 2px solid black;
}

.ace-text-light .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid black;
}

.ace-text-light .ace_marker-layer .ace_selection {
  background: #B5D5FF;
}

.ace-text-light .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.07);
}

.ace-text-light .ace_marker-layer .ace_selected_word {
  border: 1px solid #BDD5FC;
}

.ace-text-light .ace_invisible {
  color: #BFBFBF;
}

.ace-text-light .ace_keyword {
  color: #AF956F;
}

.ace-text-light .ace_meta {
  color: #AF956F;
}

.ace-text-light .ace_keyword.ace_operator {
  color: #484848;
}

.ace-text-light .ace_constant.ace_language {
  color: #39946A;
}

.ace-text-light .ace_constant.ace_numeric {
  color: #46A609;
}

.ace-text-light .ace_invalid {
  background-color: #FF002A;
}

.ace-text-light .ace_fold {
  background-color: #AF956F;
  border-color: #000000;
}

.ace-text-light .ace_support.ace_function {
  color: #C52727;
}

.ace-text-light .ace_storage {
  color: #C52727;
}

.ace-text-light .ace_string {
  color: #5D90CD;
}

.ace-text-light .ace_comment {
  color: #888;
}

.ace-text-light .ace_entity.ace_other.ace_attribute-name {
  color: #606060;
}

.ace-text-light .ace_markup.ace_underline {
  text-decoration:underline;
}
