[submodule "lib/CodeMirror"]
	path = lib/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "lib/analytics"]
	path = lib/analytics
	url = https://github.com/GoogleChrome/chrome-platform-analytics.git
