.ace_editor {
  font-family: "Bitstream Vera Sans Mono", "Ubuntu Mono", "Droid Sans Mono",
      "Menlo", monospace !important;
}

.ace-td.hide-line-numbers .ace_gutter {
  display: none;
}

.ace-td .ace_gutter {
  background-color: #F0F0F0;
  color: #999;
}

.ace-td .ace_gutter-cell {
  padding: 0;
  text-align: center;
}

.ace-td .ace_gutter_active_line {
  background-color: #E0E0E0;
}

.ace-td .ace_cursor {
  border-left: 2px solid black;
}

.ace-td .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid black;
}

.ace-td .ace_marker-layer .ace_selection {
  background: #B5D5FF;
}

.ace-td .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.07);
}

.ace-td .ace_marker-layer .ace_selected_word {
  border: 1px solid #BDD5FC;
}

.ace-td .ace_invisible {
  color: #BFBFBF;
}

.ace-td .ace_keyword {
  color: #AF956F;
}

.ace-td .ace_meta {
  color: #AF956F;
}

.ace-td .ace_keyword.ace_operator {
  color: #484848;
}

.ace-td .ace_constant.ace_language {
  color: #39946A;
}

.ace-td .ace_constant.ace_numeric {
  color: #46A609;
}

.ace-td .ace_invalid {
  background-color: #FF002A;
}

.ace-td .ace_fold {
  background-color: #AF956F;
  border-color: #000000;
}

.ace-td .ace_support.ace_function {
  color: #C52727;
}

.ace-td .ace_storage {
  color: #C52727;
}

.ace-td .ace_string {
  color: #5D90CD;
}

.ace-td .ace_comment {
  color: #888;
}

.ace-td .ace_entity.ace_other.ace_attribute-name {
  color: #606060;
}

.ace-td .ace_markup.ace_underline {
  text-decoration:underline;
}
