// VARIABLES
@toolbar-height: 30px;
@footer-height: 20px;


// HEADER (toolbar)
////////////////////////////////////////////////////////////////////////////////
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 6px;
  height: @toolbar-height - 6px;

  background: #D1D1D1;
  border-bottom: 1px solid #AAAAAA;
}


// SIDEBAR (open file)
////////////////////////////////////////////////////////////////////////////////
#sidebar {
  position: absolute;
  top: @toolbar-height;
  right: 0;
  bottom: @footer-height;
  width: 230px;
  padding: 5px;
  background-color: #f3f3f3;
  overflow: hidden;
  overflow-y: scroll;

  section {
    margin-bottom: 15px;
  }

  button {
    width: 70px;
  }

  input {
    margin-top: 5px;
    width: 208px;
  }

  .nav > li > a {
    padding-left: 5px;
    color: #000;
  }

  .nav > li > a:hover {
    color: #08C;
  }
}


// ACE EDITOR
////////////////////////////////////////////////////////////////////////////////
#editor {
  position: absolute;
  top: @toolbar-height;
  bottom: @footer-height;
  left: 0;
  right: 240px;
}


// LOGGING WINDOW
//#log {
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 300px;
//  height: 400px;
//  z-index: 200000;
//  background: white;
//  overflow: scroll;
//  padding: 5px;
//  font-family: courier;
//
//  header {
//    position: fixed;
//    width: 300px;
//    background: #d0d0d0;
//    padding: 5px;
//    margin: -5px;
//
//    a {
//      margin-right: 5px;
//      float: right;
//      text-decoration: underline;
//    }
//  }
//
//  ul {
//    margin-top: 30px;
//
//    li.digest {
//      color: gray;
//    }
//
//    li.error {
//      color: red;
//    }
//  }
//}


#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

// STATUS BAR
////////////////////////////////////////////////////////////////////////////////
#status-bar {
  background-color: #EBEBEB;
  color: #A4A4A4;
  padding: 1px 6px;

  a.icon-cog {
    color: inherit;
    font-size: 1.4em;
    padding: 2px;
    margin-top: -4px;
    line-height: 9px;
  }

  a.icon-cog:hover {
    text-decoration: none;
  }

  .delimiter {
    border-right: 1px solid #D6D6D6;
    margin: 0 5px;
  }
}


// SETTINGS
////////////////////////////////////////////////////////////////////////////////
#settings {
  border-top: 2px solid #CBCBCB;
  height: 300px;
  padding: 5px;
  background-color: #D6D6D6;
  color: #555;
}

.right {
  float: right;
}
