<!doctype html>
<html lang="en" ng-app="TD" ng-csp>
<head>
  <meta charset="utf-8">
  <title>TextDrive</title>
  <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <link href="css/tabs.css" rel="stylesheet">
  <link href="css/themes.css" rel="stylesheet">
</head>
<body ng-controller="App" ng-class="settings.theme.cls">

<header>
<ul class="tabs" ng-cloak>
  <li ng-repeat="tab in tabs" ng-class="{selected: tab == tabs.current}">
    <a ng-click="tabs.select(tab)">{{tab.label}}</a><a ng-click="tabs.close(tab)" ng-class="iconFor(tab)" class="icon"></a>
  </li>
  <li class="add-new"><a ng-click="add()" class="icon-plus"></a></li>
</ul>
</header>

<!-- sidebar -->
<div id="sidebar">
  <section>
    <button open-files="openFiles($files)" class="btn btn-primary">load</button>
    <button ng-disabled="isSaveDisabled()" ng-click="saveCurrentFile()" class="btn btn-primary">save</button>
    <button ng-disabled="!newFilename" ng-click="createNewFile()" class="btn btn-primary">new</button>
    <input type="text" ng-model="newFilename" on-enter="createNewFile()" placeholder="new filename">
  </section>

  <!--
  <section visible-if="current" ng-cloak>
    <h4>Current File:</h4>
    Name: {{current.name}}<br>
    Modified: {{current.lastModifiedDate | date}}<br>
    Type: {{current.type}}<br>
    Size: {{current.size | size}}<br>
  </section>
-->

  <section ng-show="files.length">
    <h4>Files:</h4>

    <ul class="nav" ng-cloak>
      <li ng-repeat="file in files"><a ng-click="openFile(file)">{{file.name}}</a></li>
    </ul>
  </section>
</div>

<!-- ACE editor -->
<div id="editor" ng-non-bindable></div>

<div id="footer">
  <div id="status-bar">
    <div class="right">
      <span class="delimiter"></span>
      <a ng-click="toggleSettings()" class="icon-cog"></a>
    </div>
    <input type="text" ng-model="search" ng-show="isSearchVisible" on-esc="hideSearch()" ng-cloak>
    <a ng-click="toggleSearch()" class="icon-search"></a>
    Yep, the greatest status bar you've ever seen.
  </div>

  <div ng-controller="Settings" ng-show="isSettingsVisible" id="settings" ng-cloak>
    <h2>TextDrive Settings</h2>

    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="settings-theme">Theme</label>
          <div class="controls">
            <select ng-model="settings.theme" ng-options="i.name for i in THEMES" id="settings-theme"></select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="settings-key-mode">Key Mode</label>
          <div class="controls">
            <select ng-model="settings.keyMode" ng-options="i.name for i in KEY_MODES" id="settings-key-mode"></select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="settings-soft-tabs">Use soft tabs</label>
          <div class="controls">
            <input type="checkbox" ng-model="settings.useSoftTabs" id="settings-soft-tabs">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="settings-tab-size">Tab size</label>
          <div class="controls">
            <input type="number" ng-model="settings.tabSize" ng-disabled="!settings.useSoftTabs" min="1" id="settings-tab-size">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="settings-soft-wrap">Use soft wrap</label>
          <div class="controls">
            <select ng-model="settings.softWrap" ng-options="i.value as i.name for i in SOFT_WRAP" id="settings-soft-wrap"></select>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<!--
<div id="log" ng-hide="isHidden">
  <header>
    <a ng-click="isHidden = true">close</a><a ng-click="">digest</a><a ng-click="logs.clear()">clear</a>
    <h5>Debug Log:</h5>
  </header>

  <ul class="unstyled">
    <li ng-repeat="log in logs" class="{{log | toClass}}">{{log}}</li>
  </ul>
</div>
-->

<script src="lib/angular/angular.js" type="text/javascript"></script>
<script src="lib/ace/src/ace-uncompressed-noconflict.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>

<script src="lib/ace/src/keybinding-vim-uncompressed-noconflict.js" type="text/javascript"></script>
<script src="lib/ace/src/keybinding-emacs-uncompressed-noconflict.js" type="text/javascript"></script>

<!--controllers-->
<script src="js/controllers/App.js" type="text/javascript"></script>
<script src="js/controllers/Settings.js" type="text/javascript"></script>

<!--services-->
<script src="js/services/editor.js" type="text/javascript"></script>
<script src="js/services/fs.js" type="text/javascript"></script>
<script src="js/services/tabs.js" type="text/javascript"></script>
<script src="js/services/log.js" type="text/javascript"></script>
<script src="js/services/settings.js" type="text/javascript"></script>
<script src="js/services/localStorage.js" type="text/javascript"></script>
<script src="js/services/focus.js" type="text/javascript"></script>

<!--directives-->
<script src="js/directives/onEnter.js" type="text/javascript"></script>
<script src="js/directives/openFiles.js" type="text/javascript"></script>
<script src="js/directives/visibleIf.js" type="text/javascript"></script>
<script src="js/directives/onEsc.js" type="text/javascript"></script>

<!--filters-->
<script src="js/filters/size.js" type="text/javascript"></script>
<script src="js/filters/toClass.js" type="text/javascript"></script>

</body>
</html>